#about-us-page {
  & .section-about {
    & .heading {
      font-size: 48px;
      font-weight: 600;
      color: #bf9b79;
      text-decoration: underline;
    }

    & .desc {
      & p {
        font-size: 18px;
      }
    }
  }
}
