/* ------ ESTILOS DE PASOS ------ */

#reservation-page .content {
  display: none;
}

#reservation-page .active-content {
  display: contents;
}

/* ------ PRIMER PASO ------ */
/* Estilos generales */

.react-calendar {
  width: 100% !important;
  border: none !important;
  background: #f1f1f1 !important;
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
}

/* Estilos de botones de navegación  */

.react-calendar__navigation {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 16px;
  padding-top: 7px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background: transparent !important;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button,
.react-calendar__navigation__next2-button {
  font-size: 18px !important;
}

.react-calendar__navigation__arrow[disabled] {
  color: #bdbdbd !important;
}

.react-calendar__navigation__label__labelText {
  text-transform: uppercase;
  color: #333333;
  font-size: 14px;
  font-weight: 600;
}

/* Estilos de franja días de la semana */

.react-calendar__month-view__weekdays {
  background: #f1f1f1;
  margin-bottom: 3px;
  padding: 10px 0;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0 !important;
  font-size: 12px !important;
}

abbr[title],
abbr[data-original-title] {
  border-bottom: none !important;
  text-decoration: none !important;
  cursor: default !important;
}

/* Estilos de botones */

.react-calendar__month-view__days button {
  height: 45px;
  width: 50px;
  margin: 2px !important;
  background: #fff !important;
}

@media (min-width: 480px) and (max-width: 768px) {
  .react-calendar__month-view__days button {
    width: auto;
  }
}

/* Deshabilitados */

.react-calendar__tile:disabled {
  background: #e8e8e8 !important;
}

.react-calendar__month-view__days__day--neighboringMonth[disabled] {
  color: #bdbdbd !important;
}

/* Habilitados */

button.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__month-view__days__day {
  background: #bf9b79 !important;
}

.react-calendar__tile--now {
  background: radial-gradient(#ffff76, transparent) !important;
}

.react-calendar__month-view__days button:enabled:hover {
  border: 2px solid #bf9b79;
}

/* ------ SEGUNDO PASO ------ */
