/* #rooms {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #f2f2f2;
}

#rooms .title-room {
    font-size: 48px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
}

#rooms .line {
    width: 170px;
    height: 1px;
    background: #bf9b79;
    margin-top: 20px;
    margin-bottom: -9px;
}

#rooms .wrap-rooms {
    margin-top: 30px;
} */