#main-carousel .item .carousel-caption h1 {
  font-size: 120px;
  font-weight: 800;
  font-family: "Playfair Display", serif;
  color: #9e4928;
  margin-bottom: 17px;
  text-shadow: none;
  text-shadow: 3px 4px 2px rgba(0, 0, 0, .5);
}

#main-carousel .item .carousel-caption p {
  font-size: 24.75px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-shadow: none;
  display: inline-flex;
  align-items: center;
  background: #bf9b79;
  padding: 0 15px;
}

#main-carousel .item .carousel-caption,
#main-carousel .item .carousel-caption-2 {
  position: absolute;
  right: inherit;
  bottom: inherit;
  transform: translate(-50%, -75%);
  display: block;
  width: 100%;
}

#main-carousel .item .carousel-caption {
  top: 40vh;
  left: 50%;
}

#main-carousel .item .carousel-caption-2 {
  top: 38vh;
    left: 75%;
    width: 40vw;
    padding: 30px;
    height: 280px;
}

#main-carousel .hero-title-2 {
  font-size: 70px;
  color: white;
  margin-top: 0px;
  font-weight: bold;
  text-align: left;
  text-shadow: 3px 4px 2px rgb(0 0 0 / 50%);
}

.section-slider .item .carousel-caption p .line-t,
.section-slider .item .carousel-caption p .line-b {
  width: 74px;
  height: 1px;
  background: #ffffff;
}
.section-slider .item .carousel-caption p .line-t {
  margin-right: 15px;
}
.section-slider .item .carousel-caption p .line-b {
  margin-left: 10px;
}